$bg-color: rgb(51, 176, 175);
$main-color: #fff;
$secondary-color: rgb(51, 176, 175);
// $gradient-inner: rgb(115, 192, 192);
$gradient-inner: rgb(96, 173, 173);
$gradient-outer: rgb(9, 143, 142);
$blue-temp: rgb(6, 70, 122);
$red-temp: rgb(165, 10, 69);
